# Visual Studio
.vs/
*.obj
*.pdb
*.ilk
*.exe
*.tlog
Debug/
Release/
x64/

# CLion / CMake
.idea/
cmake-build-*/
build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
*.cbp

# OS generated
.DS_Store
Thumbs.db
